body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fff;
}
.main_1 {
    width: 100%;
    margin-bottom: 40px;
}
.main_title {
    font-size: 35px;
    font-weight: 600;
    margin-top: 40px;
}
.sub_title {
    font-size: 17px;
    font-weight: 400;
    margin-top: 15px; 
    line-height: 30px;
    letter-spacing: -0.5px;
}
.main_button {
    width: 320px;
    height: 52px;
    margin-top: 60px;
    margin-bottom: 80px;
    background: #FD4801;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.32px;
}
.main_button:hover {
    cursor: pointer;
}
.main_area {
    text-align: center;
}
.main_coupon {
    width: 100%;
    margin-top: 80px;
}
